# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_export_environment.sh
**/Flutter/ephemeral
**/Flutter/App.framework
**/Flutter/engine
**/Flutter/GeneratedPluginRegistrant.*
**/Pods/

# Android
android/.gradle/
android/local.properties
**/gradle-wrapper.jar
*.jks

# macOS
.DS_Store
